services:
  # PHP-Apache
  kamakura-shokusu_web:
    container_name: kamakura-shokusu_web
    # ./myapp-web/Dockerfile でイメージをビルド
    build:
      context: ./kamakura-shokusu_web
      dockerfile: Dockerfile
    # 80 番ポートを割り当て
    ports:
      - "8091:80"
    # ローカル の src_web フォルダをコンテナの /var/www/html にマウント
    volumes:
      - "../src_web:/var/www/html"
      - "../datasource/phpini/php.ini:/usr/local/etc/php/php.ini:cached"
    # timezone を Asia/Tokyo に設定
    environment:
      TZ: Asia/Tokyo
    networks:
      - network-inner
      - network-db

  # MySQL
  kamakura-shokusu_db:
    container_name: kamakura-shokusu_web_db
    image: mysql:lts
    ports:
      - "3306:3306"
    volumes:
      - "../datasource/database:/var/lib/mysql"
      - "../datasource/dump:/usr/local/dump"
    environment:
      MYSQL_DATABASE: shokusu
      MYSQL_USER: kamakuraadm1n
      MYSQL_PASSWORD: hata220424
      MYSQL_ROOT_PASSWORD: KamakurA
      TZ: Asia/Tokyo
    networks:
      - network-db

  # NGINX reverse proxy
  network-reverse:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
    networks:
      - network-reverse
      - network-inner # 修正箇所

  # network-inner サービス (追加的な例)
  network-inner:
    image: php:8.3-apache
    build:
      context: Kamakura-shokusu_web
      dockerfile: Dockerfile
    volumes:
      - "../src_web:/var/www/html"
    networks:
      - network-inner #  修正箇
      - network-db

networks:
  network-inner:  # 定義が正しい
    name: network-inner
    internal: false
  network-reverse:
    name: network-reverse
    internal: false
  network-db:
    name: network-db
    internal: false