# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
/modules.xml
/php-docker-settings.xml
/php.xml
/phpunit.xml
/shokusuu1.iml
/vcs.xml
../dataSource/dump/shokusuu1.sql

